.link-sidebar{
    color: black;
    width: 100%;
    text-decoration: none;
}
.link-sidebar:hover{
    color: dodgerblue;
}

.logoutStyle{
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    padding: 7px;
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}
.logoutStyle:hover{
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    outline: 1px solid white;
}
.my-custom-dialog {
    width: 98%; /* Ancho personalizado */
    max-width: none; /* Ancho máximo personalizado */
    height: 92vh; /* Altura personalizada */
    max-height: none; /* Altura máxima personalizada */
}

.tablePrevizualizar{
    border: 1px solid #000;
    font-weight: normal;
    padding-left: 5px;
    text-align: left!important;

}

.tableLarge th, td{
    border: 0.5px solid #000;
    margin-top: 2rem;
    text-align: center;
    font-size: 14px;
    padding: 1px;
}

@page {
    size: landscape;
    margin: 0.5cm;
}